[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:gmackie/oh-my-zsh.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:svermeulen/vundle.git
[submodule "vim/pack/github/start/copilot.vim"]
	path = vim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim
